<div id="nav">
  <ul>
    <li>
      <table>
        <tr>
          <td>
              <img src="/images/menu1.png" id="imgLogo">
          </td>
          <td style="text-align: center; vertical-align: center">
            <a style="color: white; font-weight: bold" th:href="@{/bienvenida}">Sistema de Gestión de RRHH </a>
          </td>
        </tr>
      </table>
    </li>
    <!--<li><a th:href="@{/vendedores/listarVendedores}">Vendedores</a></li>
    <li><a th:href="@{/clientes/listarClientes}">Clientes</a></li>
    <li><a th:href="@{/sucursales/listarSucursales}">Sucursales</a></li>
   -->
    <li style="padding-top: 6.5px;" th:each="bean:${session.ENLACES}">
      <a th:text="${bean.descripcion}" th:href="${bean.ruta}" ></a>
    </li>

    <li style="float: right;padding-top: 4.5px;"><a th:href="@{/logout}"> <img src="http://imgfz.com/i/nyd9eNg.png" style="width: 25%">  Logout</a></li>
  </ul>
</div>